.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header header"
  "nav con";
  grid-template-columns: 1fr 10fr;
}

.app-wrapper-content {
  grid-area: con;
  background-color: cadetblue;
}



